@charset "utf-8";

/* Layout */
html { 
	margin:auto;
	width:75%;
	height:100%;
    background-color: #DBE2EF;
} 
header {
	line-height: 100px;
	padding: 5px;
}
body{
	width:70%;
	margin-left: 15%;
    background-color: #F9F7F7;
}
h1{
	font-size: 100px;
    color: #112D4E;
}
h2 {
	font-size: 30px;
	margin-bottom: 5px;
    color: #112D4E;
}
#sed {
	line-height: 30px;
}
article {
	margin-top: 40px;		
}		
section {
	margin-top: 30px;
	font-size: 20px;
	padding: 5px;
}
li {
	font-size: 20px;
	margin-left: 25px;
	margin-top: 5px;
}
ul {
	margin-top: 20px;
}
body > img {
	height: 80%;
	width: 100%;
}

#me{
	width: 180px;
	margin-left: 10%;
	float: right;
}

label {
	display: block;
	margin-bottom: 8px;
}

button {
	float: right;
}

/*Base Style*/